<template>
    <div class="card mt-5">
        <div class="card-header">
            <h5>Incluir usuário no projeto</h5>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="user_id">Usuários</label>
                    <select id="user_id"
                            class="form-control"
                            :class="{ 'is-invalid': errors.length }"
                            autocomplete="user_id" v-model="user_id">
                        <option value="">Selecione</option>
                        <option :value="user.id" v-for="(user, index) in users">{{ user.name }}</option>
                    </select>
                </div>

                <div class="form-group col-md-8 d-flex align-items-end">
                    <button type="button" class="btn btn-primary" @click="addUser">Incluir</button>
                </div>
            </div>

            <hr class="mt-5">
            <h5><u>Usuário Participantes</u></h5>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="(participant, index) in participants">
                        <td>{{ participant.name }}</td>
                        <td class="d-flex justify-content-center">
                            <a href="" class="mr-2 btn btn-sm btn-outline-primary">
                                <i class="far fa-edit"/>
                            </a>

                            <form action="" method="POST">
                                <button class="btn btn-outline-danger btn-sm">
                                    <i class="far fa-trash-alt"/>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            users: {
                type: Array,
                required: true
            },
            participants: {
                type: Array
            },
            project_id: {
                type: String
            }
        },
        data() {
            return {
                errors: [],
                user_id: null
            }
        },
        methods: {
            addUser() {
                axios.post('/project-user', {
                    user_id: this.user_id,
                    project_id: this.project_id
                })
                .then((response) => {
                    this.participants = response['data']['data'];
                    this.user_id = null;
                    this.errors = [];
                })
                .catch((error) => {
                    this.errors.push(error.data);
                    console.log(error['data']);
                });
            },
        }
    }
</script>
